<div id="login" class="row signup">
	<div class="header text-center">
		<h1 class="subheader default-fg-color">Let's begin with your Company info</h1>
	</div>
	<div class="large-4 large-offset-4 login-container" style="padding-top: 0;">
		<% unless @company.errors.blank? %>
		<div class="alert-box alert">
			<% @company.errors.full_messages.each do |error| %>
			<p><%= error %></p>
			<% end %>
		</div>
		<% end %>

		<%= form_for @company, :html => {:multipart => true, :class => "custom"} do |f| %>
		<fieldset class="radius inner-container">
			<div class="row">
				<div class="large-12 columns">
					<%= f.text_field :name, :placeholder => "Company Name", :required => true %>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<%= f.text_field :website, :placeholder => "Website URL", :required => true %>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<%= f.text_field :email, :placeholder => "Email", :required => true %>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<%= f.text_field :phone, :placeholder => "Phone", :required => true %>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<label>Company Logo <span class="required">*</span></label>
					<%= f.file_field :logo, :required => true %>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<input name="commit" type="submit" class="button expand radius" value="Next">
				</div>
			</div>
		</fieldset>

		<% end %>
	</div>
</div>
